<% content_for :title do %>
	<%= "Tricks - Employment Application" %>
  <% end %>

<h1>Employment Application</h1>

<%#= render 'form' %>
<p>This system is currently under maintenance. Please try again later.</p>