<% content_for :title do %>
	<%= "Tricks - Notification of Absence" %>
  <% end %>

<%= stylesheet_link_tag "FileSpecificCSS/absents", :media => "all" %>

<div class="row align-center columns small-12">
  <h1>Notification of Absence</h1>
</div>

<div class="row align-center">
  <div class="columns small-12 large-8" style="margin-bottom: 30px;">
    <h5>Please fill out the form below to notify us of your child's upcoming absence.</h5>
    <ul>
      <li>You must notify us at least 2 hours in advance in order to be eligible for a make-up class.</li>
      <li>Tuition will not be refunded for missed classes.</li>
      <li>Make-up classes are valid as long as your child is enrolled and for 30 days following dis-enrollment. </li>
      <li>Make-up classes are subject to availability.</li>
    </ul>
    <div style="border: solid 2px rgb(232, 204, 58); background-color: rgb(255, 244, 202); padding: 10px; margin-bottom: 10px; text-align: center">
      Make-up classes must still be scheduled. Please call to schedule.
    </div>
    <h5>Thank you so much for your cooperation.</h5>
  </div>
</div>

<div class="row align-center">
  <div class="columns small-12 large-8">
    <%= render 'form' %>
  </div>
</div>