<div class="row" style="margin-top: 20px;">
  <div class="columns">
    <h3>Data Exports</h3>
    <p>Download full JSON dumps for the following datasets:</p>

    <ul class="no-bullet">
      <li><%= link_to "Kid Quotes", "/exports/kid_quotes", class: "button secondary small" %></li>
      <li><%= link_to "Comments", "/exports/comments", class: "button secondary small" %></li>
      <li><%= link_to "Making A Difference", "/exports/making_a_differences", class: "button secondary small" %></li>
      <li><%= link_to "TricksU (Categories + Videos)", "/exports/tricks_u", class: "button secondary small" %></li>
    </ul>
  </div>
</div>
